body {
    margin: auto;
    font: 15px/22px Arial,Helvetica,sans-serif;
    max-width: 1040px;
}

body a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
}

.button-box {
    padding: 5px;
}

.menu-img {
    width: 140px;
    height: 70px;
}

.left, .right {
    display: flex;
    align-items: center;
}
.right {
    justify-content: flex-start;
    flex: 1;
}

.left {
    justify-content: flex-end;
    flex: 3;
    flex-flow: row wrap
}

.preview-top-news {
    display: flex;
    align-items: flex-end;
    background-image: url('./images/sport-photo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    margin-bottom: 10px;
}

.preview-top-news > div {
    width: 100%;
    padding: 0 20px;
    background-color: rgba(0, 0, 0, 0.5);
}
.preview-top-news a {
    color: white;
}

.preview-top-news a:hover{
    color: lightgray;
}

.title-preview-top-news {
    display: flex;
    align-items: center;
}

.title-preview-top-news h1 {
    font-size: 180%;
    margin: 20px 0;
}

.news > h1 {
    background-color: rgb(75, 12, 12);
    padding: 20px;
    margin: 0;
    color: white;
}

.body-news {
    display: flex;
    padding: 10px 20px 10px 0;
    border-bottom: solid 1px gray;
}

.body-news img:hover {
    opacity: 0.7;
}

.text-news {
    padding: 0 20px;
}

.text-news a {
    float: left;
}

.text-news a:hover {
    font-weight: 700;
}

footer {
    background-color: rgb(75, 12, 12);
    color: white;
    padding: 0 20px;
    font-size: 80%;
}

footer p {
    margin: 0;
}